/* PARTE PARA ESTILIZAR MUDAR CORES ALINHAR  */
.grass-text {
    color: #01780e;
}

.fire-text {
    color: #FF6200;
}

.water-text {
    color: #009DFF;
}

/* Cores de fundo  */
.poison {
    background-color: #8A0FBB;
}

.grass {
    background-color: #01780e;
}

.fire {
    background-color: #FF6200;
}

.eletric {
    background-color: #ffee00;
}

.flying {
    background-color: #9EDAFF;
}

.rock {
    background-color: #c0c2bd;
}

.ground {
    background-color: #673a0a;
}

.water {
    background-color: #008cff;
}

.bug {
    background-color: #6ec300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    /* card que contem um unico card */
    width: 361px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;

}

.header {
    width: 361px;
    display: flex;
    justify-content: end;
}


.box-pokemon {
    /* Cofiguração do box que tem todos os pokemons */
    gap: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 298px;
    transition: .5s;
}

img:hover {
    /* efeitos da imagem */
    cursor: pointer;
    transform: scale(1.5) rotate(12deg);
}

.card-codigo {
    width: 100px;
    height: 40px;
    border-bottom-left-radius: 20px;

    color: #fff;
    background-color: #b3b3b3;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-types {
    display: flex;
    width: 250px;
    height: 50px;

    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.types {
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-name {
    width: 361px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}