a{
    padding: 7px;
    border-radius: 15px;
    text-decoration: none;
    width: 90px;
    margin: 20px;
    text-align: center;

    color: white;
    background-color: red;
}

#ajuste-ivysaur2{
    margin-left: -10px !important;
}